In [17]:
%defaultDatasource jdbc:h2:mem:db

In [12]:
DROP TABLE IF EXISTS UF;

CREATE TABLE UF (
    nome VARCHAR (20) NOT NULL,
    regiao VARCHAR(5) NOT NULL,
    n_municipios INT NOT NULL,
    PRIMARY KEY (nome),
);

INSERT INTO UF VALUES ('Rondonia', 'N', 52);
INSERT INTO UF VALUES ('Acre', 'N', 22);
INSERT INTO UF VALUES ('Amazonas', 'N', 62);
INSERT INTO UF VALUES ('Roraima', 'N', 15);
INSERT INTO UF VALUES ('Para', 'N', 144);
INSERT INTO UF VALUES ('Amapa', 'N', 16);
INSERT INTO UF VALUES ('Tocantins', 'N', 139);
INSERT INTO UF VALUES ('Minas Gerais', 'SE', 853);
INSERT INTO UF VALUES ('Espirito Santo', 'SE', 78);
INSERT INTO UF VALUES ('Rio de Janeiro', 'SE', 92);
INSERT INTO UF VALUES ('Sao Paulo', 'SE', 645);
INSERT INTO UF VALUES ('Parana', 'S', 399);
INSERT INTO UF VALUES ('Santa Catarina', 'S', 295);
INSERT INTO UF VALUES ('Rio Grande do Sul', 'S', 497);
INSERT INTO UF VALUES ('Mato Grosso do Sul', 'CO', 79);
INSERT INTO UF VALUES ('Mato Grosso', 'CO', 141);
INSERT INTO UF VALUES ('Goias', 'CO', 246);
INSERT INTO UF VALUES ('Distrito Federal', 'CO', 1);
INSERT INTO UF VALUES ('Maranhao', 'NE', 217);
INSERT INTO UF VALUES ('Piaui', 'NE', 224);
INSERT INTO UF VALUES ('Ceara', 'NE', 184);
INSERT INTO UF VALUES ('Rio Grande do Norte', 'NE', 167);
INSERT INTO UF VALUES ('Paraiba', 'NE', 223);
INSERT INTO UF VALUES ('Pernambuco', 'NE', 185);
INSERT INTO UF VALUES ('Alagoas', 'NE', 102);
INSERT INTO UF VALUES ('Sergipe', 'NE', 75);
INSERT INTO UF VALUES ('Bahia', 'NE', 417);

In [13]:
DROP TABLE IF EXISTS Regiao;

CREATE TABLE Regiao (
    nome VARCHAR(20) NOT NULL,
    nMunicipios INT NOT NULL,
    PRIMARY KEY(nome)
) AS SELECT
    regiao,
    SUM(n_municipios)
    FROM UF
    GROUP BY regiao;

In [22]:
DROP TABLE IF EXISTS Doenca;

CREATE TABLE Doenca (
    nome VARCHAR(50) NOT NULL,
    contaminacao VARCHAR(50),
    PRIMARY KEY(nome)
) AS SELECT
    Nome,
    Contaminacao
    FROM CSVREAD('data/doencas.csv');

In [26]:
DROP TABLE IF EXISTS DoencasPorEstado;

CREATE TABLE DoencasPorEstado (
    nomeDoenca VARCHAR(50) NOT NULL,
    estado VARCHAR(20) NULL,
    nCasos INT NOT NULL,
    FOREIGN KEY(nomeDoenca)
        REFERENCES Doenca(nome)
        ON UPDATE CASCADE
        ON DELETE CASCADE,
    FOREIGN KEY(estado)
        REFERENCES UF(nome)
        ON UPDATE CASCADE
        ON DELETE CASCADE
) AS SELECT
    Doenca,
    UF,
    Casos
    FROM CSVREAD('data/doencas_por_estado.csv');

In [31]:
CREATE TABLE DoencasPorRegiao (
    nomeDoenca VARCHAR(50) NOT NULL,
    regiao VARCHAR(2) NULL,
    nCasos INT NOT NULL,
    FOREIGN KEY(nomeDoenca)
        REFERENCES Doenca
        ON UPDATE CASCADE
        ON DELETE CASCADE,
    FOREIGN KEY(regiao)
        REFERENCES Regiao
        ON UPDATE CASCADE
        ON DELETE CASCADE
) AS SELECT
    DE.nomeDoenca,
    UF.regiao,
    SUM(DE.nCasos)
    FROM DoencasPorEstado DE, UF
    WHERE DE.estado = UF.nome
    GROUP BY regiao, nomeDoenca;

In [27]:
SELECT * FROM DoencasPorEstado;

In [33]:
SELECT * FROM DoencasPorRegiao;